<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.maker.dao.EssaythemesMapper" >
  <resultMap id="BaseResultMap" type="org.maker.pojo.Essaythemes" >
    <id column="articletopicid" property="articletopicid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="themecontent" property="themecontent" jdbcType="VARCHAR" />
    <result column="themestarttime" property="themestarttime" jdbcType="DATE" />
    <result column="themeendtime" property="themeendtime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    articletopicid, title, themecontent, themestarttime, themeendtime
  </sql>

<!--话题管理 start-->

  <!--查询总条数-->
  <select id="queryEssayThemeListTotal" resultType="Long">
      SELECT count(*) from enj_essaytheme
  </select>

  <!--查询当前页所需数据-->
  <select id="queryEssayThemeListPage" resultType="org.maker.pojo.Essaythemes">
      SELECT * FROM enj_essaytheme limit #{start},#{rows}
  </select>

  <!--新增本期话题-->
  <insert id="insertEssayTheme" >
    INSERT  INTO  enj_essaytheme(title,themecontent,themestarttime,themeendtime)
    VALUES (#{title},#{themecontent},#{startTimeStr},#{endTimeStr})
  </insert>

  <!--批量删除话题-->
  <delete id="deleteEssayTheme" >
    DELETE FROM enj_essaytheme WHERE articletopicid in(${idStr})
  </delete>

  <!--修改话题-->
  <update id="updateEssayTheme" >
    UPDATE enj_essaytheme SET title = #{title},themecontent = #{themecontent} WHERE articletopicid = #{articletopicid}
  </update>

  <!---->
  <select id="querygambitidSelections" resultType="org.maker.pojo.Essaythemes">
    SELECT articletopicid,title FROM enj_essaytheme
  </select>

  <!--话题管理 end-->

</mapper>