<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.maker.dao.IntegraShopMapper" >


  <select id="queryNowShopsTotal" resultType="Long">
    SELECT COUNT(*) FROM enj_integrashop
  </select>

  <select id="queryNowShopsPage" resultType="org.maker.pojo.IntegraShop">
    SELECT * FROM enj_integrashop limit #{start},#{rows}
  </select>
  
  <insert id="insertIntegrationvertShop">
    INSERT INTO enj_integrashop(shopname,shopimg,needintegra,shopcount) VALUES (#{shopname},#{shopimg},#{needintegra},#{shopcount})
  </insert>

  <delete id="deleteIntegrationvertShop">
    DELETE FROM enj_integrashop WHERE shopid in(${idStr})
  </delete>

  <update id="updateShopCountValue" >
    UPDATE enj_integrashop SET shopcount = #{shopcount} WHERE shopid = #{shopid}
  </update>

</mapper>