<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.maker.dao.SolicitarticlessMapper" >
  <sql id="Base_Column_List" >
    solicitarticlesid, solicitarticlestitle, userqid, solicitarticlestime, gambitid, 
    solicitarticlescover,greatnumber,spreadstatus,username solicusername,
  </sql>

  <!--征文管理 start-->

  <!--查询总条数-->
  <select id="querSolicitarticlessListTotal" resultType="Long">
      SELECT count(*) FROM enj_solicitarticles
  </select>

  <!--查询当前页数据-->
  <select id="querSolicitarticlessListPage" resultType="org.maker.pojo.Solicitarticless">
    select so.solicitarticlesid,so.solicitarticlestitle,so.userqid,so.solicitarticlestime,so.gambitid,so.solicitarticlescover,so.greatnumber,so.spreadstatus,us.username solicusername,es.title gambitnameStr
      from enj_solicitarticles so ,enj_users us , enj_essaytheme es
		where so.userqid  = us.userid and so.gambitid = es.articletopicid
              limit #{start},#{rows}
  </select>

  <!--新增查询最大ID-->
  <select id="queryMaxId" resultType="int">
    select max(solicitarticlesid) FROM enj_solicitarticles
  </select>

  <!--新增征文信息-->
  <insert id="InsertSolicitarticless">
    INSERT  INTO enj_solicitarticles(solicitarticlesid,solicitarticlestitle,userqid,solicitarticlestime,gambitid,solicitarticlescover,greatnumber,spreadstatus)
    VALUES (#{solicitarticlesid},#{solicitarticlestitle},#{userqid},#{solicitarticlestimeStr},#{gambitid},#{solicitarticlescover},0,1)
  </insert>

  <!--批量删除征文信息-->
  <delete id="deleteSolicitarticless" >
    DELETE  FROM enj_solicitarticles WHERE solicitarticlesid IN (${idStr})
  </delete>

  <!--修改征文信息-->
  <update id="updateSolicitarticless">
    UPDATE enj_solicitarticles SET solicitarticlestitle = #{solicitarticlestitle},solicitarticlescover = #{solicitarticlescover} WHERE solicitarticlesid = #{solicitarticlesid}
  </update>

  <!--征文管理 end-->
</mapper>